{
  "configurations": [
    {
      "core-site": {
        "properties": {
          "fs.trash.interval": "360",
          "fs.defaultFS": "hdfs://nnhdp2640",
          "ha.zookeeper.quorum": "%HOSTGROUP::master02%:2181,%HOSTGROUP::master03%:2181,%HOSTGROUP::master01%:2181",
          "hadoop.proxyuser.hive.hosts": "%HOSTGROUP::master02%,%HOSTGROUP::master03%",
          "hadoop.proxyuser.oozie.hosts": "%HOSTGROUP::master02%",
          "hadoop.proxyuser.hcat.hosts": "%HOSTGROUP::master02%,%HOSTGROUP::master03%",
          "hadoop.proxyuser.yarn.hosts": "%HOSTGROUP::master01%,%HOSTGROUP::master02%"
        }
      }
    },
    {
      "hive-site": {
        "properties": {
          "javax.jdo.option.ConnectionDriverName": "org.postgresql.Driver",
          "javax.jdo.option.ConnectionURL": "jdbc:postgresql://{{ hostvars[groups['pgsqlserver'][0]]['inventory_hostname'] }}.{{ domain }}:5432/hive",
          "javax.jdo.option.ConnectionUserName": "hive",
          "hive.metastore.uris": "thrift://%HOSTGROUP::master02%:9083,thrift://%HOSTGROUP::master03%:9083",
          "hive.exec.compress.output": "false",
          "hive.merge.mapfiles": "true",
          "hive.server2.transport.mode": "binary",
          "hive.server2.tez.initialize.default.sessions": "false"
        }
      }
    },
    {
      "hive-env": {
        "hive_database_type": "postgres",
        "hive_database": "Existing PostgreSQL Database",
        "hive_database_name": "hive"
      }
    },
    {
      "oozie-site": {
        "properties": {
          "oozie.service.JPAService.jdbc.username": "oozie",
          "oozie.service.JPAService.jdbc.url": "jdbc:postgresql://%HOSTGROUP::{{ hostvars[groups['pgsqlserver'][0]]['inventory_hostname'] }}%:5432/oozie",
          "oozie.service.JPAService.jdbc.driver": "org.postgresql.Driver",
          "oozie.db.schema.name": "oozie"
        }
      }
    },
    {
      "oozie-env": {
        "properties": {
          "oozie_database": "Existing PostgreSQL Database"
        }
      }
    },
    {
      "hdfs-site": {
        "properties": {
          "dfs.nameservices": "nnhdp2640",
          "dfs.namenode.http-address.nnhdp2640.nn2": "%HOSTGROUP::master02%:50070",
          "dfs.namenode.http-address.nnhdp2640.nn1": "%HOSTGROUP::master01%:50070",
          "dfs.namenode.rpc-address.nnhdp2640.nn2": "%HOSTGROUP::master02%:8020",
          "dfs.namenode.rpc-address.nnhdp2640.nn1": "%HOSTGROUP::master01%:8020",
          "dfs.ha.namenodes.nnhdp2640": "nn1,nn2",
          "dfs.namenode.https-address.nnhdp2640.nn1": "%HOSTGROUP::master01%:50470",
          "dfs.ha.fencing.methods": "shell(/bin/true)",
          "dfs.namenode.https-address.nnhdp2640.nn2": "%HOSTGROUP::master02%:50470",
          "dfs.namenode.shared.edits.dir": "qjournal://%HOSTGROUP::master02%:8485;%HOSTGROUP::master01%:8485;%HOSTGROUP::master03%:8485/nnhdp2640",
          "dfs.client.failover.proxy.provider.nnhdp2640": "org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider",
          "dfs.ha.automatic-failover.enabled": "true"
        }
      }
    },
    {
      "yarn-site": {
        "properties_attributes": {},
        "properties": {
          "yarn.log.server.url": "http://%HOSTGROUP::master02%:19888/jobhistory/logs",
          "yarn.resourcemanager.admin.address": "%HOSTGROUP::master01%:8141",
          "yarn.resourcemanager.address": "%HOSTGROUP::master01%:8050",
          "yarn.resourcemanager.cluster-id": "yarn-cluster",
          "yarn.resourcemanager.ha.automatic-failover.zk-base-path": "/yarn-leader-election",
          "yarn.resourcemanager.ha.enabled": "true",
          "yarn.resourcemanager.ha.rm-ids": "rm1,rm2",
          "yarn.resourcemanager.hostname": "%HOSTGROUP::master01%",
          "yarn.resourcemanager.hostname.rm2": "%HOSTGROUP::master02%",
          "yarn.resourcemanager.hostname.rm1": "%HOSTGROUP::master01%",
          "yarn.resourcemanager.resource-tracker.address": "%HOSTGROUP::master01%:8025",
          "yarn.resourcemanager.recovery.enabled": "true",
          "yarn.resourcemanager.scheduler.address": "%HOSTGROUP::master01%:8030",
          "yarn.resourcemanager.store.class": "org.apache.hadoop.yarn.server.resourcemanager.recovery.ZKRMStateStore",
          "yarn.resourcemanager.webapp.address": "%HOSTGROUP::master01%:8088",
          "yarn.resourcemanager.webapp.address.rm2": "%HOSTGROUP::master02%:8088",
          "yarn.resourcemanager.webapp.address.rm1": "%HOSTGROUP::master01%:8088",
          "yarn.resourcemanager.webapp.https.address": "%HOSTGROUP::master01%:8090",
          "yarn.resourcemanager.webapp.https.address.rm2": "%HOSTGROUP::master02%:8090",
          "yarn.resourcemanager.webapp.https.address.rm1": "%HOSTGROUP::master01%:8090",
          "yarn.timeline-service.webapp.address": "%HOSTGROUP::master02%:8188",
          "yarn.timeline-service.webapp.https.address": "%HOSTGROUP::master02%:8190",
          "yarn.timeline-service.address": "%HOSTGROUP::master02%:10200"
        }
      }
    },
    {
      "hbase-site": {
        "properties": {
          "hbase.regionserver.handler.count": "30",
          "hbase.regionserver.info.port": "16030",
          "hbase.rootdir": "/apps/hbase/data",
          "hbase.security.authentication": "simple",
          "hbase.security.authorization": "false",
          "hbase.superuser": "hbase",
          "hbase.tmp.dir": "/tmp/hbase",
          "hbase.zookeeper.property.clientPort": "2181",
          "hbase.zookeeper.quorum": "%HOSTGROUP::master02%,%HOSTGROUP::master01%,%HOSTGROUP::master03%",
          "hbase.zookeeper.useMulti": "true",
          "hfile.block.cache.size": "0.4",
          "zookeeper.session.timeout": "90000",
          "zookeeper.znode.parent": "/hbase-unsecure"
        }
      }
    },
    {
      "hbase-env": {
        "properties": {
          "hbase_master_heapsize": "1024m",
          "hbase_regionserver_heapsize": "1024m"
        }
      }
    },
    {
      "webhcat-site": {
        "properties": {
          "templeton.zookeeper.hosts": "%HOSTGROUP::master02%:2181,%HOSTGROUP::master01%:2181,%HOSTGROUP::master03%:2181"
        }
      }
    }
  ],
  "host_groups": [
    {
      "components": [
        {
          "name": "HDFS_CLIENT"
        },
        {
          "name": "ZKFC"
        },
        {
          "name": "ZOOKEEPER_SERVER"
        },
        {
          "name": "METRICS_MONITOR"
        },
        {
          "name": "JOURNALNODE"
        },
        {
          "name": "HBASE_MASTER"
        },
        {
          "name": "NAMENODE"
        },
        {
          "name": "TEZ_CLIENT"
        },
        {
          "name": "RESOURCEMANAGER"
        }
      ],
      "configurations": [],
      "name": "master01",
      "cardinality": "1"
    },
    {
      "components": [
        {
          "name": "METRICS_MONITOR"
        },
        {
          "name": "METRICS_GRAFANA"
        }
      ],
      "configurations": [],
      "name": "edge",
      "cardinality": "1"
    },
    {
      "components": [
        {
          "name": "YARN_CLIENT"
        },
        {
          "name": "HDFS_CLIENT"
        },
        {
          "name": "HIVE_SERVER"
        },
        {
          "name": "METRICS_MONITOR"
        },
        {
          "name": "HIVE_METASTORE"
        },
        {
          "name": "ZOOKEEPER_CLIENT"
        },
        {
          "name": "PIG"
        },
        {
          "name": "WEBHCAT_SERVER"
        },
        {
          "name": "MAPREDUCE2_CLIENT"
        },
        {
          "name": "ZOOKEEPER_SERVER"
        },
        {
          "name": "AMBARI_SERVER"
        },
        {
          "name": "JOURNALNODE"
        },
        {
          "name": "HIVE_CLIENT"
        }
      ],
      "configurations": [],
      "name": "master03",
      "cardinality": "1"
    },
    {
      "components": [
        {
          "name": "YARN_CLIENT"
        },
        {
          "name": "HDFS_CLIENT"
        },
        {
          "name": "ZKFC"
        },
        {
          "name": "HIVE_SERVER"
        },
        {
          "name": "HISTORYSERVER"
        },
        {
          "name": "METRICS_MONITOR"
        },
        {
          "name": "HBASE_MASTER"
        },
        {
          "name": "HIVE_METASTORE"
        },
        {
          "name": "NAMENODE"
        },
        {
          "name": "TEZ_CLIENT"
        },
        {
          "name": "ZOOKEEPER_CLIENT"
        },
        {
          "name": "PIG"
        },
        {
          "name": "WEBHCAT_SERVER"
        },
        {
          "name": "MAPREDUCE2_CLIENT"
        },
        {
          "name": "SLIDER"
        },
        {
          "name": "ZOOKEEPER_SERVER"
        },
        {
          "name": "JOURNALNODE"
        },
        {
          "name": "OOZIE_SERVER"
        },
        {
          "name": "APP_TIMELINE_SERVER"
        },
        {
          "name": "HIVE_CLIENT"
        },
        {
          "name": "METRICS_COLLECTOR"
        },
        {
          "name": "RESOURCEMANAGER"
        }
      ],
      "configurations": [],
      "name": "master02",
      "cardinality": "1"
    },
    {
      "components": [
        {
          "name": "NODEMANAGER"
        },
        {
          "name": "YARN_CLIENT"
        },
        {
          "name": "HDFS_CLIENT"
        },
        {
          "name": "METRICS_MONITOR"
        },
        {
          "name": "TEZ_CLIENT"
        },
        {
          "name": "ZOOKEEPER_CLIENT"
        },
        {
          "name": "HCAT"
        },
        {
          "name": "PIG"
        },
        {
          "name": "MAPREDUCE2_CLIENT"
        },
        {
          "name": "SLIDER"
        },
        {
          "name": "OOZIE_CLIENT"
        },
        {
          "name": "HBASE_REGIONSERVER"
        },
        {
          "name": "DATANODE"
        },
        {
          "name": "HBASE_CLIENT"
        },
        {
          "name": "HIVE_CLIENT"
        }
      ],
      "configurations": [],
      "name": "worker",
      "cardinality": "2"
    }
  ],
  "settings": [
    {
      "recovery_settings": [
        {
          "recovery_enabled": "true"
        }
      ]
    },
    {
      "service_settings": [
        {
          "name": "OOZIE",
          "credential_store_enabled": "true"
        },
        {
          "name": "HIVE",
          "credential_store_enabled": "true"
        },
        {
          "recovery_enabled": "true",
          "name": "AMBARI_METRICS"
        }
      ]
    },
    {
      "component_settings": [
        {
          "recovery_enabled": "true",
          "name": "METRICS_COLLECTOR"
        }
      ]
    }
  ],
  "Blueprints": {
    "stack_name": "HDP",
    "stack_version": "2.6"
  }
}
