{
  "host_groups": [
    {% for host in groups['all'] %}
      {% if hostvars[host]['components'] is defined and hostvars[host]['components']|length >  0  %}
        {% if not loop.first %},{% endif %}{
          "cardinality": "1",
          "components": [
          {% set ns = namespace(first_comp=true) %}
          {% for comp in hostvars[host]['components'] %}
            {% if comp in HDP_components %}
              {% if ns.first_comp == false %},{% endif %}
              {% set ns.first_comp = false %}
              {
                "name": "{{ comp }}"
              }
            {% endif %}
          {% endfor %}
          ],
          "configurations": [],
          "name": "{{ host }}_group"
        }
      {% endif %}
    {% endfor %}
  ]
}