{% for host in hosts %}
{{ host.name }} ansible_host={{ host.ip }} ansible_user={{ ansible_user }}
{% endfor %}


{% for host in hosts %}

[{{ host.name }}_hostgroup]
{{ host.name }}     
{% endfor %}

