{% for host in hosts %}
{{ host.name }} ansible_host={{ host.ip }} ansible_user={{ ansible_user }}
{% endfor %}

{% for name, hosts in groups.items() %}

[{{ name }}]
  {% for host in hosts %}
{{ host }}
  {% endfor %}
{% endfor %}